*{
    margin: 0;
    padding: 0;
}


ul{
    font-family: 'Trebuchet MS', sans-serif;
    list-style-type: none;
    height:100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 40, 40);
    }
    
.li1 {
    float: left;
    
    }
    
.li1 a{
        margin-top: 10px;
        text-decoration: none;
        font-size: 30px;
        color:white;
        display: block;
        padding: 15px;
        }
    
.li1 img{
        width: 170px;
        height: 100px;
    }

    .table {
            background-image: url(https://do-prod-webteam-drupalfiles.s3-us-west-2.amazonaws.com/bcedu/s3fs-public/styles/header_image/public/tutoring-header.jpg?itok=6IGrqcIg);
            height: 300px;
            width: 100%;
            background-size: cover ;
            background-position: center;
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://do-prod-webteam-drupalfiles.s3-us-west-2.amazonaws.com/bcedu/s3fs-public/styles/header_image/public/tutoring-header.jpg?itok=6IGrqcIg);
    }

    h1{
        font-size: 125px;
        position: relative;
        top: 75px ;
        left: 300px;
        color:white;
        font-family:'Chalkduster', serif;
    }

    .gray {
        background-color: rgb(42, 40, 40) ;
        height: 1200px ;
        width: 100%;
        position: relative;
        bottom: 0;    
    }

    h2 {
        font-size: 20px;
        position: relative;
        top: 50px ;
        left: 30px;
        margin-right: 550px;
        color:white;
        font-family: 'Trebuchet MS', sans-serif;
    }

    .gray img {
               position: relative;
               left: 925px;
               bottom: 100px;
               height: 300px;
               width: 500px;
    }

    .location {
        background-color: gainsboro;
        height: 250px ;
        width: 1200px;
        position: relative;
        left: 120px;
        bottom: 0px;   
        top:150px;                 
    }

    h3 {
        font-size: 35px;
        position: relative;
        top: 50px ;
        left: 80px;
        margin-right: 0;
        color:black;
        font-family:'Chalkduster', serif;
    }

    .search {
        background-color: white;
        height: 75px ;
        width: 1100px;
        position: relative;
        left: 150px;
        bottom: 0; 
        top: 80px;
             
    }

    h4 {
        font-size: 30px;
        position: relative;
        top: 20px ;
        left: 350px;
        margin-right: 0;
        color:black;
    }

    h5{
        font-size: 50px;
        position: relative;
        bottom:325px;
        left: 715px;
        margin-right: 0;
        color:white;
        font-family:'Chalkduster', serif;
    }

    ol{
        font-size: 22px;
        position: relative;
        left: 750px;
        bottom:300px;
        margin-right: 0px;
        color:white;
        font-family:'Chalkduster', serif;
    }
    

   .states img {
            position: relative;
            left:70px;
            bottom: 600px;
            height: 300px;
            width: 600px;
    }
    
    .bottompage {
        color:white;
        font-size:20px;
        text-align: center;
        position:relative;
        bottom:50px;
        margin-left:520px;
        margin-right:520px;
        font-family: 'Trebuchet MS', sans-serif;
      }

    .search-box{
        width:600px;
        background:rgb(42, 40, 40);
        margin:200px auto 0;
        border-radius:5px;
        position:relative;
        bottom:100px;
    

    }  
    
    .row{
        display:flex;
        align-items:center;
        padding:10px 20px;

    }

    input{
        flex:1;
        height:50px;
        background:transparent;
        border:0;
        outline:0;
        font-size:18px;
        color:white;
    } 

   button {
    background:transparent;
    border:0;
    outline:0;
   }

   button .fa-solid{
        width:25px;
        color:rgb(246, 243, 243);
        font-size:22px;
        cursor:pointer;
   }

::placeholder{
    color:white;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style:none;
    border-radius:3px;
    padding: 15px 10px;
    cursor: pointer;
    color:white;
}

.result-box ul li:hover{
    background:#7b7c7c
}

.result-box {
    max-height: 300px;
    overflow-y:scroll;
}
