
.background{
    background-image: url(https://media.istockphoto.com/id/999246336/photo/high-school-tutor-giving-male-student-one-to-one-tuition-at-desk.jpg?s=612x612&w=0&k=20&c=BslNF6nY6wEkIeGLpWmUGt4dKfs1ykvyOlJFof0xoZg=);
    height: 1000px;
    width: 100%;
    background-size: cover ;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://media.istockphoto.com/id/999246336/photo/high-school-tutor-giving-male-student-one-to-one-tuition-at-desk.jpg?s=612x612&w=0&k=20&c=BslNF6nY6wEkIeGLpWmUGt4dKfs1ykvyOlJFof0xoZg=);
} 

*{
    margin: 0;
    padding: 0;
}

ul{
font-family: 'Trebuchet MS', sans-serif;
list-style-type: none;
height:100px;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(42, 40, 40);
}

li{
float: left;

}

li a{
text-decoration: none;
font-size: 30px;
color:white;
display: block;
padding: 15px;
margin-top:10px;
}

h1{
    text-align: center;
    font-size: 80px;
    left: 15px;
    color:white;
    font-family:'Chalkduster', serif;
}

h2 {
    text-align: center;
    top: 50px;
    font-size: 45px;
    margin-left: 50px;
    margin-right: 50px;
    color:white;
    margin-top: 100px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

button {
        color: white;
        background-color: red;
        font-size: 35px;
        height: 150px;
        width: 500px;
        position: relative;
        left: 450px;
        top: 90px;
}
li img{
    width: 170px;
    height: 100px;
}

